<table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#eceff1">
    <tbody>
    <tr>
        <td width="100%" align="center">
            <table cellpadding="0" cellspacing="0" border="0" width="600" class="m_5332999139496677426deviceWidth">
                <tbody>
                <tr>
                    <td align="right" style="padding:8px 0 0">
                        <a href="https://t.allegro.pl/biznes/allegro-pay-business?utm_source=notification&amp;utm_medium=cartWithPayment&amp;utm_campaign=cartWithPayment&amp;utm_content=overheader-ept&amp;tr_n=cartWithPayment-ept-TRY&amp;tr_id=e89d28d0-350f-11ef-afb6-07b2dd1633aa-41221498__e8a9d300-350f-11ef-afb6-07b2dd1633aa-41221498&amp;tr_d=allegro.pl&amp;tr_c=overheader-ept-text&amp;tr_s=rbUMAhce"
                           style="color:#00a790;text-decoration:none" target="_blank"
                           data-saferedirecturl="https://www.google.com/url?q=https://t.allegro.pl/biznes/allegro-pay-business?utm_source%3Dnotification%26utm_medium%3DcartWithPayment%26utm_campaign%3DcartWithPayment%26utm_content%3Doverheader-ept%26tr_n%3DcartWithPayment-ept-TRY%26tr_id%3De89d28d0-350f-11ef-afb6-07b2dd1633aa-41221498__e8a9d300-350f-11ef-afb6-07b2dd1633aa-41221498%26tr_d%3Dallegro.pl%26tr_c%3Doverheader-ept-text%26tr_s%3DrbUMAhce&amp;source=gmail&amp;ust=1719639409831000&amp;usg=AOvVaw2Ly8nrgWAUKBUb-NhJ-9z7">aktywuj</a>
                        <a href="https://t.allegro.pl/biznes/allegro-pay-business?utm_source=notification&amp;utm_medium=cartWithPayment&amp;utm_campaign=cartWithPayment&amp;utm_content=overheader-ept&amp;tr_n=cartWithPayment-ept-TRY&amp;tr_id=e89d28d0-350f-11ef-afb6-07b2dd1633aa-41221498__e8a9d300-350f-11ef-afb6-07b2dd1633aa-41221498&amp;tr_d=allegro.pl&amp;tr_c=overheader-ept-logo&amp;tr_s=9mcaqFPA"
                           style="font-family:'Open Sans',sans-serif;font-size:14px;color:#222222;text-align:center"
                           target="_blank"
                           data-saferedirecturl="https://www.google.com/url?q=https://t.allegro.pl/biznes/allegro-pay-business?utm_source%3Dnotification%26utm_medium%3DcartWithPayment%26utm_campaign%3DcartWithPayment%26utm_content%3Doverheader-ept%26tr_n%3DcartWithPayment-ept-TRY%26tr_id%3De89d28d0-350f-11ef-afb6-07b2dd1633aa-41221498__e8a9d300-350f-11ef-afb6-07b2dd1633aa-41221498%26tr_d%3Dallegro.pl%26tr_c%3Doverheader-ept-logo%26tr_s%3D9mcaqFPA&amp;source=gmail&amp;ust=1719639409831000&amp;usg=AOvVaw1G1JNWSwZAZHwenM7zrgIT">
                            <img
                                src="https://ci3.googleusercontent.com/meips/ADKq_NZxMLjkOYDSFZ_hSdN6Qeidyh4L_SK6wZVNboagtxh0j7PEWGgaWY-iuqq90UjkC3JF2AwhFac2YhrrV5Vxgo-qp-RPCS-gf8WtlQf3-rKInrQIPleenSBLUPo=s0-d-e1-ft#https://a.allegroimg.com/original/12e529/c368754b40bc853a63efe878cfb6"
                                style="display:inline-block;vertical-align:middle;font-family:'Open Sans',sans-serif;font-size:14px;color:#222222;text-align:center"
                                width="140" alt="Pay Business" class="CToWUd" data-bit="iit">
                        </a>
                    </td>
                </tr>

                <tr>
                    <td align="center" style="padding:8px 0 0">

                        <table cellpadding="0" cellspacing="0" border="0" width="600" bgcolor="#ffffff">
                            <tbody>
                            <tr>
                                <td class="m_5332999139496677426deviceWidth" style="padding:16px" align="left">
                                    <a href="https://t.allegro.pl/?utm_source=notification&amp;utm_medium=cartWithPayment&amp;utm_campaign=cef7b135-c856-4150-84eb-687c2d87cdd6&amp;utm_content=logo&amp;tr_n=cartWithPayment_generic&amp;tr_id=e89d28d0-350f-11ef-afb6-07b2dd1633aa-41221498__e8a9d300-350f-11ef-afb6-07b2dd1633aa-41221498&amp;tr_d=allegro.pl&amp;tr_c=logo&amp;tr_s=cBzXMqZ2"
                                       target="_blank"
                                       data-saferedirecturl="https://www.google.com/url?q=https://t.allegro.pl/?utm_source%3Dnotification%26utm_medium%3DcartWithPayment%26utm_campaign%3Dcef7b135-c856-4150-84eb-687c2d87cdd6%26utm_content%3Dlogo%26tr_n%3DcartWithPayment_generic%26tr_id%3De89d28d0-350f-11ef-afb6-07b2dd1633aa-41221498__e8a9d300-350f-11ef-afb6-07b2dd1633aa-41221498%26tr_d%3Dallegro.pl%26tr_c%3Dlogo%26tr_s%3DcBzXMqZ2&amp;source=gmail&amp;ust=1719639409831000&amp;usg=AOvVaw1NlIpoTMRzX1VaNpbKTkRF">
                                        <img border="0"
                                             src="https://ci3.googleusercontent.com/meips/ADKq_NbMtVVebfBBsSNHkWeIY6J4bj9KP0R79glAaPIbK2Gqljn3w-pEvaVHcdbtPB6viAENrchIHGPjJXg2cbIkeUXiQ2RxNnNeKzqVDHSe7uRmP4vexylZsaoeT8RyN5I=s0-d-e1-ft#https://common.allegrostatic.com/notification-resources/allegro-logo.png"
                                             width="80" alt="Allegro" class="CToWUd" data-bit="iit"></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size:23px;font-family:Roboto,sans-serif;color:#222222;text-align:left;padding:0 16px;line-height:21px"
                                    valign="top">
                                    Dzień dobry svechslav,
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size:14px;font-family:'Open Sans',sans-serif;font-weight:normal;color:#222222;text-align:left;padding:16px;line-height:21px"
                                    valign="top">


                                    <p style="font:14px/21px 'Open Sans',sans-serif;margin:0 0 16px;color:#222222;margin:0">
                                        kupiłaś 10x TUSZ 103 DO DRUKARKI EPSON ECOTANK L3251 L3250 L3150 L3151 L3260
                                        L3256 od <a
                                        href="https://t.allegro.pl/uzytkownik/salon_4INK?utm_source=notification&amp;utm_medium=cartWithPayment&amp;utm_campaign=cef7b135-c856-4150-84eb-687c2d87cdd6&amp;tr_n=header&amp;tr_id=e89d28d0-350f-11ef-afb6-07b2dd1633aa-41221498__e8a9d300-350f-11ef-afb6-07b2dd1633aa-41221498&amp;tr_d=allegro.pl&amp;tr_c=seller-listing&amp;tr_s=6pezQD/a"
                                        style="color:#00a790;text-decoration:none" target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?q=https://t.allegro.pl/uzytkownik/salon_4INK?utm_source%3Dnotification%26utm_medium%3DcartWithPayment%26utm_campaign%3Dcef7b135-c856-4150-84eb-687c2d87cdd6%26tr_n%3Dheader%26tr_id%3De89d28d0-350f-11ef-afb6-07b2dd1633aa-41221498__e8a9d300-350f-11ef-afb6-07b2dd1633aa-41221498%26tr_d%3Dallegro.pl%26tr_c%3Dseller-listing%26tr_s%3D6pezQD/a&amp;source=gmail&amp;ust=1719639409831000&amp;usg=AOvVaw0K0Gt1QXJ9CToFoqYqwTo-">salon_4INK</a>
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td align="center" style="padding:8px 0 0">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                            <tbody>
                            <tr>
                                <td width="100%" style="padding:16px">


                                    <h2 style="font:16px/18px 'Roboto',sans-serif;font-weight:bold;color:#222222;margin:0px 0 8px">
                                        Twój zakup</h2>

                                    <p style="font:14px/21px 'Open Sans',sans-serif;margin:0 0 16px;color:#222222;margin:0">
                                        z dnia
                                        28 czerwca 2024, 07:33 </p>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>


                <tr>
                    <td align="center" style="padding:8px 0 0">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                            <tbody>
                            <tr>
                                <td width="100%" style="padding:16px">

                                    <p style="font:14px/21px 'Open Sans',sans-serif;margin:0 0 16px;color:#222222">od
                                        salon_4INK</p>

                                    <div style="margin:16px 0 24px">


                                        <table cellspacing="0" cellpadding="0" border="0" width="100%"
                                               style="font-size:14px;line-height:19px;color:#222222">
                                            <tbody>
                                            <tr>
                                                <td style="vertical-align:top;padding-top:8px;width:56px" rowspan="2">

                                                    <img
                                                        src="https://ci3.googleusercontent.com/meips/ADKq_NYuKtNAUBO-z3KamwEhDOzLNWYvFkqIsjLP9QRJFhHnkUYkBnJfMjp_UvBWDnebBfvxFL7v6YaUPYdCziCtSk8Frjs64wQtf4HO_QpZaEJ1-NeXt8EasA=s0-d-e1-ft#https://a.allegroimg.com/s64b/115dd0/1c8a1293429b9ee503b059dc92b4"
                                                        alt=""
                                                        style="max-height:40px;width:auto;max-width:40px;display:block"
                                                        border="0" class="CToWUd" data-bit="iit">
                                                </td>
                                                <td><a
                                                    href="https://t.allegro.pl/oferta/10x-tusz-103-do-drukarki-epson-ecotank-l3251-l3250-l3150-l3151-l3260-l3256-12781929363?utm_source=notification&amp;utm_medium=cartWithPayment&amp;utm_campaign=cef7b135-c856-4150-84eb-687c2d87cdd6&amp;tr_n=buyer-cart&amp;tr_id=e89d28d0-350f-11ef-afb6-07b2dd1633aa-41221498__e8a9d300-350f-11ef-afb6-07b2dd1633aa-41221498&amp;tr_d=allegro.pl&amp;tr_c=offer&amp;tr_s=1LBbISxX"
                                                    style="color:#00a790;text-decoration:none;font-size:14px;color:#222222"
                                                    target="_blank"
                                                    data-saferedirecturl="https://www.google.com/url?q=https://t.allegro.pl/oferta/10x-tusz-103-do-drukarki-epson-ecotank-l3251-l3250-l3150-l3151-l3260-l3256-12781929363?utm_source%3Dnotification%26utm_medium%3DcartWithPayment%26utm_campaign%3Dcef7b135-c856-4150-84eb-687c2d87cdd6%26tr_n%3Dbuyer-cart%26tr_id%3De89d28d0-350f-11ef-afb6-07b2dd1633aa-41221498__e8a9d300-350f-11ef-afb6-07b2dd1633aa-41221498%26tr_d%3Dallegro.pl%26tr_c%3Doffer%26tr_s%3D1LBbISxX&amp;source=gmail&amp;ust=1719639409831000&amp;usg=AOvVaw14-xqvL3bPpO87p90xb4vl">10x
                                                    TUSZ 103 DO DRUKARKI EPSON ECOTANK L3251 L3250 L3150 L3151 L3260
                                                    L3256</a><br><a
                                                    href="https://t.allegro.pl/oferta/10x-tusz-103-do-drukarki-epson-ecotank-l3251-l3250-l3150-l3151-l3260-l3256-12781929363?utm_source=notification&amp;utm_medium=cartWithPayment&amp;utm_campaign=cef7b135-c856-4150-84eb-687c2d87cdd6&amp;tr_n=buyer-cart&amp;tr_id=e89d28d0-350f-11ef-afb6-07b2dd1633aa-41221498__e8a9d300-350f-11ef-afb6-07b2dd1633aa-41221498&amp;tr_d=allegro.pl&amp;tr_c=offer&amp;tr_s=1LBbISxX"
                                                    style="color:#00a790;text-decoration:none;color:#767676;font-size:12px"
                                                    target="_blank"
                                                    data-saferedirecturl="https://www.google.com/url?q=https://t.allegro.pl/oferta/10x-tusz-103-do-drukarki-epson-ecotank-l3251-l3250-l3150-l3151-l3260-l3256-12781929363?utm_source%3Dnotification%26utm_medium%3DcartWithPayment%26utm_campaign%3Dcef7b135-c856-4150-84eb-687c2d87cdd6%26tr_n%3Dbuyer-cart%26tr_id%3De89d28d0-350f-11ef-afb6-07b2dd1633aa-41221498__e8a9d300-350f-11ef-afb6-07b2dd1633aa-41221498%26tr_d%3Dallegro.pl%26tr_c%3Doffer%26tr_s%3D1LBbISxX&amp;source=gmail&amp;ust=1719639409831000&amp;usg=AOvVaw14-xqvL3bPpO87p90xb4vl">(12781929363)</a>
                                                </td>
                                                <td style="vertical-align:top;padding-top:8px;text-align:right;white-space:nowrap"
                                                    rowspan="2"><span
                                                    style="font-family:'Roboto',Arial,sans-serif;font-size:18px;font-weight:bold;color:#3a4e58;white-space:nowrap">
                                45,<span style="font-size:14px">00&nbsp;zł</span></span><br></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%"
                                               style="font-size:14px;line-height:19px;color:#222222;margin-top:8px">
                                        </table>

                                    </div>


                                    <h3 style="font:14px/16px 'Open Sans',sans-serif;font-weight:bold;color:#222222;margin:24px 0 8px">
                                        Metoda dostawy</h3>

                                    <table cellspacing="0" cellpadding="0" border="0" width="100%"
                                           style="font-size:14px;line-height:19px;color:#222222;margin:8px 0 24px">
                                        <tbody>
                                        <tr>
                                            <td style="vertical-align:top;padding-top:8px;padding-top:0">Kurier
                                                pobranie, DPD, <small
                                                    style="font-size:12px;line-height:16px;color:#767676;white-space:nowrap">Zagrodowa
                                                    3</small>
                                            </td>
                                            <td style="vertical-align:top;padding-top:8px;padding-top:0;text-align:right">
                                                <span
                                                    style="font-family:'Roboto',Arial,sans-serif;white-space:nowrap;font-size:14px">18,90&nbsp;zł</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="vertical-align:top;padding-top:8px;padding-top:0"><small
                                                style="font-size:12px;line-height:16px;color:#767676"></small>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>


                                    <h3 style="font:14px/16px 'Open Sans',sans-serif;font-weight:bold;color:#222222;margin:24px 0 8px">
                                        Przewidywany czas dostawy</h3>
                                    <p style="font:14px/21px 'Open Sans',sans-serif;margin:0 0 16px;color:#222222">kup
                                        do 17:45 - w&nbsp;poniedziałek u&nbsp;Ciebie</p>

                                    <p style="font:14px/21px 'Open Sans',sans-serif;margin:0 0 16px;color:#222222;margin:24px 0">
                                        <a href="https://t.allegro.pl/moje-allegro/zakupy/kupione/e8a9d300-350f-11ef-afb6-07b2dd1633aa?utm_source=notification&amp;utm_medium=cartWithPayment&amp;utm_campaign=cef7b135-c856-4150-84eb-687c2d87cdd6&amp;tr_n=buyer-cart&amp;tr_id=e89d28d0-350f-11ef-afb6-07b2dd1633aa-41221498__e8a9d300-350f-11ef-afb6-07b2dd1633aa-41221498&amp;tr_d=allegro.pl&amp;tr_c=purchase-details&amp;tr_s=mz0t/5Wl"
                                           style="color:#00a790;text-decoration:none" target="_blank"
                                           data-saferedirecturl="https://www.google.com/url?q=https://t.allegro.pl/moje-allegro/zakupy/kupione/e8a9d300-350f-11ef-afb6-07b2dd1633aa?utm_source%3Dnotification%26utm_medium%3DcartWithPayment%26utm_campaign%3Dcef7b135-c856-4150-84eb-687c2d87cdd6%26tr_n%3Dbuyer-cart%26tr_id%3De89d28d0-350f-11ef-afb6-07b2dd1633aa-41221498__e8a9d300-350f-11ef-afb6-07b2dd1633aa-41221498%26tr_d%3Dallegro.pl%26tr_c%3Dpurchase-details%26tr_s%3Dmz0t/5Wl&amp;source=gmail&amp;ust=1719639409831000&amp;usg=AOvVaw04D33fyqxWKhhZi9FRDG4q">Przejdź
                                            do Szczegółów zakupu</a></p>

                                    <p style="font:14px/21px 'Open Sans',sans-serif;margin:0 0 16px;color:#222222;margin-bottom:24px">
                                        Masz wątpliwości? <a
                                        href="https://t.allegro.pl/moje-allegro/zakupy/kupione/e8a9d300-350f-11ef-afb6-07b2dd1633aa?utm_source=notification&amp;utm_medium=cartWithPayment&amp;utm_campaign=cef7b135-c856-4150-84eb-687c2d87cdd6&amp;tr_n=buyer-cart&amp;tr_id=e89d28d0-350f-11ef-afb6-07b2dd1633aa-41221498__e8a9d300-350f-11ef-afb6-07b2dd1633aa-41221498&amp;tr_d=allegro.pl&amp;tr_f=zadaj-pytanie&amp;tr_c=ask-seller&amp;tr_s=g4cG4QV9"
                                        style="color:#00a790;text-decoration:none" target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?q=https://t.allegro.pl/moje-allegro/zakupy/kupione/e8a9d300-350f-11ef-afb6-07b2dd1633aa?utm_source%3Dnotification%26utm_medium%3DcartWithPayment%26utm_campaign%3Dcef7b135-c856-4150-84eb-687c2d87cdd6%26tr_n%3Dbuyer-cart%26tr_id%3De89d28d0-350f-11ef-afb6-07b2dd1633aa-41221498__e8a9d300-350f-11ef-afb6-07b2dd1633aa-41221498%26tr_d%3Dallegro.pl%26tr_f%3Dzadaj-pytanie%26tr_c%3Dask-seller%26tr_s%3Dg4cG4QV9&amp;source=gmail&amp;ust=1719639409831000&amp;usg=AOvVaw1FjN1Gvj75Yg7gjINAG7ll">Zapytaj
                                        o zakup</a></p>

                                    <hr style="display:block;width:100%;height:1px;margin:15px 0 16px;border:0;background:#dddddd;box-sizing:border-box">


                                    <div style="text-align:right">

                                        <h3 style="font:14px/16px 'Open Sans',sans-serif;font-weight:bold;color:#222222;margin:24px 0 8px;margin-bottom:0;color:#767676;font-size:13px">
                                            RAZEM</h3>
                                        <div><span
                                            style="font-family:'Roboto',Arial,sans-serif;font-size:18px;font-weight:bold;color:#3a4e58;white-space:nowrap">
                                63,<span style="font-size:14px">90&nbsp;zł</span></span></div>

                                    </div>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                </tbody>
            </table>
        </td>
    </tr>
    </tbody>

</table>


<td align="center" style="padding:8px 0 0">
    <table cellpadding="0" cellspacing="0" border="0" width="600" bgcolor="#ffffff">
        <tbody>
        </tbody>
    </table>
</td>


<div style="font-size: 20px;">
    <table width="100%" border="1px solid #999" cellpadding="5" cellspacing="0" bgcolor="#f5f5f5" style="margin-bottom: 10px;">
        <tr>
            <td colspan="2" style="text-align: center">
                <a href="https://polandgroups.pl/shop/">
                    <img src="https://polandgroups.pl/shop/img/logo.9332798f.png" alt="logo">
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div>Dzień dobry {{ empty($order->alt_deliver_information) ? $order->deliver_information['fullname'] : $order->alt_deliver_information['fullname'] }}</div>
            </td>
        </tr>
        <tr>
            <td colspan=2">
                <div>Twój zakup</div>
                <div>z dnia {{ date('d.m.Y', strtotime('now')) }}</div>
            </td>
        </tr>
        <tr>
            @foreach($order->items as $item)
            <td style="width: 480px;" ">{{$item->product->name}}</td>
            @endforeach
            <td style="width: 100%;">{{$order->getClearPrice()}} zł</td>
        </tr>
        <tr>
            <td>Kurier DPD, <strong>(Ulica dom klienta) Zagrodowa 3</strong></td>
            <td>
                <div>{{$order->getBoxPrice()}} zł</div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div>RAZEM {{$order->getPrice()}} zł</div>
            </td>
        </tr>
    </table>

    <table width="100%" border="1px solid #999" cellpadding="5" cellspacing="0" bgcolor="#f5f5f5" style="margin-bottom: 10px;">
        <tr>
            <td>Przewidywany czas dostawy {{ date('d.m.Y', strtotime("+3 day")) }} u Ciebie</td>
        </tr>
    </table>

    <table width="100%" border="1px solid #999" cellpadding="5" cellspacing="0" bgcolor="#f5f5f5" style="margin-bottom: 10px;">
        <tr>
            <td style="width: 480px;">Adres e-mail</td>
            <td style="width: 100%;">{{$order->user_information['email']}}</td>
        </tr>
        <tr>
            <td>Firma</td>
            <td>{{$order->deliver_information['business']}}</td>
        </tr>
        <tr>
            <td>NIP UE</td>
            <td>{{$order->deliver_information['nip_ue']}}</td>
        </tr>
        <tr>
            <td>Adress</td>
            <td>{{$order->deliver_information['address']}}</td>
        </tr>
        <tr>
            <td>Kod pocztowy</td>
            <td>{{$order->deliver_information['zip_code']}}</td>
        </tr>
        <tr>
            <td>Country</td>
            <td>{{$order->deliver_information['country']}}</td>
        </tr>
        <tr>
            <td>Miasto</td>
            <td>{{$order->deliver_information['city']}}</td>
        </tr>
        <tr>
            <td>Telefoniczny numer kontaktowy</td>
            <td>{{$order->deliver_information['phone']}}</td>
        </tr>
    </table>
    @if (!empty($order->alt_deliver_information))
    <table width="100%" border="1px solid #999" cellpadding="5" cellspacing="0" bgcolor="#f5f5f5">
        <tr>
            <td style="width: 480px;">Proszę użyć innego adresu rozliczeniowego</td>
            <td style="width: 100%;"></td>
        </tr>
        <tr>
            <td>Imię</td>
            <td>{{$order->alt_deliver_information['fullname']}}</td>
        </tr>
        <tr>
            <td>Firma</td>
            <td>{{$order->alt_deliver_information['business']}}</td>
        </tr>
        <tr>
            <td>NIP UE</td>
            <td>{{$order->alt_deliver_information['nip_ue']}}</td>
        </tr>
        <tr>
            <td>Adress</td>
            <td>{{$order->alt_deliver_information['address']}}</td>
        </tr>
        <tr>
            <td>Kod pocztowy</td>
            <td>{{$order->alt_deliver_information['zip_code']}}</td>
        </tr>
        <tr>
            <td>Country</td>
            <td>{{$order->alt_deliver_information['country']}}</td>
        </tr>
        <tr>
            <td>Miasto</td>
            <td>{{$order->alt_deliver_information['city']}}</td>
        </tr>
        <tr>
            <td>Telefoniczny numer kontaktowy</td>
            <td>{{$order->alt_deliver_information['phone']}}</td>
        </tr>
    </table>
    @endif
</div>
